.chicle-regular {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;
}

.caveat-font1 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
    display: flex;
    flex-flow: column;
    text-align: center;
    color: rgb(225, 250, 255);
    justify-content: center;
    font-family: 'Chicle', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    height: 100%;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
}
body::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.25) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(225, 247, 255, 0.7) 100%);
    pointer-events: none;
    position: fixed;
    filter: blur(100);
    z-index: 5;
}

.black-fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 22;
  pointer-events: none;
  animation: fadein 5s ease forwards;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -15;
}

#sidesection {
    position: fixed;
    right: 0;
    z-index: 16;
    margin: 0 auto;
    width: 150px;
    overflow: hidden;
    top: 0;
    background-image: url(sidepic.png);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
    border-radius: 15px;
    border: 2px solid rgba(180, 185, 195, 0.7);
    color: rgb(225, 250, 255);
    filter: drop-shadow(0 0 10px rgba(225, 247, 255, 0.7));
    margin-bottom: 5%;
    margin-top: 1.5%;
    height: 85.5%;
}

.sidetxt {
    position: fixed;
    z-index: 17;
    margin-top: 25%;
    font-size: 24px;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    filter: drop-shadow(0 0 10px rgba(225, 247, 255, 0.7));
}

#mailbox-title {
    font-size: 32px !important;
}
#mail {
    margin-top: 100%;
}
#mail::after {
    content: " !";
    color: red;
    animation: new-mail 2s infinite ease forwards;
    font-size: 32px;
}

@keyframes new-mail {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

h1 {
    font-size: 48px;
    animation: trippy-text 3s infinite ease forwards;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 25;
    pointer-events: none;
}
h2 {
    font-size: 24px;
}

.glowing-text {
    animation: magic-text 5s infinite ease forwards;
}

@keyframes trippy-text {
    0% {
        font-size: 97.5%;
    }
    50% {
        font-size: 100%;
    }
    100% {
        font-size: 97.5%;
    }
}

#background-audio {
    position: fixed;
    width: 5%;
    bottom: 0;
    right: 0;
    margin: 10px;
    border-radius: 8px;
    background-color:rgb(190, 215, 220);
    filter: drop-shadow(0 0 50px rgb(108, 122, 124));
}

@keyframes magic-text {
    0%{
        text-shadow: 0 0 15px rgb(210, 255, 250);
    }
    50%{
        text-shadow: 0 0 50px rgb(210, 255, 250);
    }
    100%{
        text-shadow: 0 0 15px rgb(210, 255, 250);
    }
}

@keyframes fadein {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.poems-container {
    margin: 0 auto;
    margin-top: 10px;
}
.poeme {
    display: none;
    font-size: 32px;
    font-family: 'Caveat' !important;
    color: rgb(75, 75, 105);
    margin-top: 10px;
    margin: 20px auto;
    border-radius: 12px;
    width: 50%;
    z-index: 18;
    padding: 3px;
    text-align: center;
    background-color: rgba(225, 247, 255, 0.915);
    transition: all 0.3s ease-in-out;
    border: 2px solid rgba(180, 185, 195, 0.7);
    filter: drop-shadow(0 0 10px rgba(225, 247, 255, 0.7));
}
input[type="checkbox"] {
    display: none;
}
label {
    font-style: italic;
    cursor: pointer;
    color: rgb(190, 215, 220);
    margin: 0 auto;
    margin-top: 25px;
    display: inline-block;
    background-color: rgba(225, 247, 255, 0.915);
    width: 500px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0;
    bottom: 0;
    z-index: 18;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    border: 2px solid rgba(180, 185, 195, 0.7);
    filter: drop-shadow(0 0 10px rgba(225, 247, 255, 0.7));
}
input[type="checkbox"]:checked + label + .poeme {
    display: block;
}

.auteur{
    text-align: right !important;
    margin-right: 10px;
    font-style: italic;
    text-decoration: underline;
}

#firstpoem {
    margin-top: 7.5% !important;
}
.lastpoem {
    margin-bottom: 5% !important;
}

.lastpoem2 {
    margin-top: -3.5%;
    margin-bottom: 5%;
}

footer {
    font-size: 34px;
    background-color: rgba(225, 247, 255, 0.7);
    border: 2px solid rgba(180, 185, 195, 0.7);
    filter: drop-shadow(0 0 10px rgba(225, 247, 255, 0.7));
    border-radius: 8px;
    margin: 0 auto;
    width: 25%; 
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 19;
}

a {
    color: rgb(225, 250, 255);
    transition: all 0.3s ease-in-out;
}
a:visited {
    color: rgb(225, 250, 255);  
}
a:hover{
    color: rgb(175, 175, 175);
}
label:hover {
    color: rgb(175, 175, 175);
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    footer {
        width: 45%;
        font-size: 28px;
    }
    #background-audio {
        width: 17.5% !important;
    }
    .poeme {
    display: none;
    font-size: 24px;
    width: 45% !important;
    left: 0;
    margin-left: 2.75%;
    padding: 2.5%;
    }
    h1 {
        margin-right: 150px;
        font-size: 64px;
        position: sticky !important;
        margin-bottom: -17.5%;
    }
    label {
        font-size: 32px;
        width: 200px; 
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 10px;
    }
    #firstpoem {
        margin-top: 25% !important;
    }
    .lastpoem {
    margin-bottom: 25% !important;
    }
    .lastpoem2 {
        margin-top: -20% !important;
        margin-bottom: 25% !important;
    }
    #sideimage {
    width: 150px;
    border-radius: 15px;
    border: 2px solid rgba(180, 185, 195, 0.7);
    filter: drop-shadow(0 0 10px rgba(225, 247, 255, 0.7));
    margin-bottom: 15%;
    margin-top: 5%;
    margin-right: 2.5%;
    }
    #dracunyan-1 {
        opacity: 0.85;
    }
}

#dracunyan {
    display: inline-block;
    vertical-align: middle;
}
#dracunyan-1 {
    position: fixed;
    width: 84px;
    opacity: 0.75;
    left: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    z-index: 19;
    animation: shining-img 4s infinite ease;
}
#dracunyan-2 {
    position: fixed;
    width: fit-content;
    padding-right: 5px; padding-left: 5px;
    left: 0;
    bottom: 0;
    margin-bottom: 75px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 20;
    font-size: 24px;
    font-family: "VT323", monospace;
    border-radius: 8px;
    color: rgb(102, 112, 113);
    background-color: rgba(225, 247, 255, 0.7);
    border: 2px solid rgba(180, 185, 195, 0.7);
    border-radius: 8px;
    filter: drop-shadow(0 0 10px rgba(225, 247, 255, 0.7));
}


@keyframes shining-img {
    0% {
        filter: drop-shadow(0 0 25px #640707);
    }
    50% {
        filter: drop-shadow(0 0 15px #640707);
    }
    100% {
        filter: drop-shadow(0 0 25px #640707);
    }
}